:host {
  flex-grow: 1;
}

.list-header {
  display: flex;
  font-weight: bold;
  padding: 20px 20px 10px 20px;
  justify-content: space-between;
  max-width: 800px;
}

.action-btn {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  border-radius: 60px;
  border-color: #646464;
  text-align: right;
  font-weight: bold;
  box-shadow: 1px 1px 2px #000;
  text-shadow: -1px 0 1px #000;
  margin: 0 5px;
}

.completed {
  color: goldenrod;
  background-image: url('/assets/victory.svg');
}

.cancelled {
  color: crimson;
  background-image: url('/assets/zombie.svg');
}
